.paneel {
    background-color: rgb(190, 190, 190);
    height: auto;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nupudPaneel {
    margin-top: 2%;
}

#pealkiri {
    text-align: center;
    margin: 0;
    padding-top: 1%;
}

#vaheKoolon {
    margin: 0;
    padding: 0;
}

.aeg {
    display: flex;
}

.tingimusSuur {
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.tingimusVäike {
    font-size: 1rem;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.valikudParent {
    display: flex;
    padding: 15px;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
}

.valikuKonteiner {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

#paev {
    width: 60px;
}

#inimesi {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#submit {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}